{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
    {% if articles %}
        {% for article in articles_page.object_list %}
            <section id="content" class="body">
                <article class="hentry">
                    <header>
                        <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
                    </header>
                    <div class="entry-content">
                        {% include 'article_infos.html' %}
                        {{ article.content }}
                        {% include 'podcast.html' %}
                    </div>
                </article></li>
            </section>
        {% endfor %}
    {% endif %}
{% endblock content %}
